.council-card-wrapper {
  display: flex;
  border: 1px solid #b9b9b9;
  border-radius: 7px;
  overflow: hidden;
  flex-direction: column;
  height: 100%;

  ada-image {
    display: block;
    height: 50%;
  }

  .details {
    padding: 10px 25px;
    background-color: #ffffff;
    box-sizing: border-box;
    height: 100%;

    .title {
      margin: 0;
      font-size: 20px;
      text-transform: capitalize;
      font-weight: 900;
      margin-bottom: 10px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      /* autoprefixer: ignore next */
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .date {
      margin: 0;
      line-height: 20px;
      font-size: 16px;
      color: #888989;
      font-style: italic;
    }

    .content {
      margin-top: 0;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      /* autoprefixer: ignore next */
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: 60px;
      line-height: 20px;
    }
    .more {
      display: block;
      float: right;
      width: 114px;
      height: 26px;
      text-decoration: none;
      background-color: #2575AA;
      color: #fff;
      border-radius: 5px;
      text-align: center;
    }
    .feedback {
      display: inline-block;
      width: 114px;
      line-height: 26px;
      text-decoration: none;
      background-color: #2575AA;
      color: #fff;
      border-radius: 5px;
      text-align: center;
    }
  }
}
