<ada-banner [background]="'assets/images/career_image.jpg'" [title]="'career'" [alt]="'test alt'"
  [longdesc]="'test long desc'"></ada-banner>
<div class="job-detail-wrapper">
  <ng-container *ngIf="sub | async">
    <p class="job-title">{{job?.title}}</p>
    <div class="job-content-wrapper">
      <div class="job-images">
        <div class="img-slider">
          <div class="slider-content">
            <ngx-slick-carousel class="slick-job-carousel" #slickEventsSlider [config]="jobSlideConfig">
              <div ngxSlickItem class="slide-job" *ngFor="let jobInfo of generalInfo[0]?.imageUrls">
                <ada-image [src]="jobInfo" [alt]="'test alt'" [longdesc]="'test long description'">
                </ada-image>
              </div>
            </ngx-slick-carousel>
          </div>
        </div>
      </div>
      <div class="job-detail">
        <p class="job-type"><span>Type: </span> {{job?.type}} </p>
        <p class="job-date"><span>Posted Date: </span> {{job?.postedDate | date}}</p>
        <p class="job-department"><span>Department: </span>{{job?.department}}</p>
        <p class="job-department"><span>Description: </span></p>
        <p class="job-description" [innerHTML]="job?.description | safeHtml"></p>
        <div class="set-items">
          <span class="submit" (click)="onSubmit()">Apply</span>
        </div>
      </div>
    </div>
  </ng-container>
</div>
