<ada-banner [background]="'assets/images/department-header-image.jpg'" [title]="'Boards & commissions'" [alt]="'test alt'" [longdesc]="'test long desc'" [style]="'center'"></ada-banner>
<div class="boards-wrapper">
  <div class="boards-description">
    <h1 class="main-title">City Planning Commission</h1>
    <h6>Overview</h6>
    <p>The City of South Fulton City Planning Commission oversees all zoning and planning of the City</p>
    <h6>Members</h6>
    <p>The Commission consists of eight members who are residents of the city. One member was nominated by each member of the City Council and the Mayor. The Planning Commission member shall serve a term consistent with that of the member of the City Council (or the Mayor) making the nomination.</p>
  </div>
  <div class="member-table-wrapper">
    <table class="member-table">
        <tr class="table-header">
          <td class="member">Member</td>
          <td class="appointedBy">Appointed By</td>
          <td class="appointment-date">Appointment Date to Term Expiration</td>
        </tr>
        <tr class="table-body odd">
          <td class="member">Mr. Harold E. Reid</td>
          <td class="appointedBy">Mayor Edwards (at large)</td>
          <td class="appointment-date">July 11, 2017 to December 31,</td>
        </tr>
        <tr class="table-body even">
          <td class="member">Mr. Rodney Hadley</td>
          <td class="appointedBy">Councilwoman Rowell (District 1)</td>
          <td class="appointment-date">June 5, 2018 to December 31,</td>
        </tr>
        <tr class="table-body odd">
          <td class="member">Mr. Jeannine Brown</td>
          <td class="appointedBy">Councilwoman Gumbs (District 2)</td>
          <td class="appointment-date">August 14, 2018 to December</td>
        </tr>
        <tr class="table-body even">
          <td class="member">Mr. Pamela C. Harvey</td>
          <td class="appointedBy">Councilwoman Willis (District 3)</td>
          <td class="appointment-date">July 11, 2017 to December 31,</td>
        </tr>
        <tr class="table-body odd">
          <td class="member">Mr. Jalnal C. Walters</td>
          <td class="appointedBy">Councilwoman Gilyard (District 4)</td>
          <td class="appointment-date">July 11, 2017 to December 31,</td>
        </tr>
        <tr class="table-body even">
          <td class="member">Mr. Winston Cook</td>
          <td class="appointedBy">Councilwoman Jackson (District 5)</td>
          <td class="appointment-date">July 11, 2017 to December 31,</td>
        </tr>
        <tr class="table-body odd">
          <td class="member">Mr. Shatekwa Floyd Reid</td>
          <td class="appointedBy">Councilwoman Khalid (District 6)</td>
          <td class="appointment-date">July 11, 2017 to December 31,</td>
        </tr>
        <tr class="table-body even">
          <td class="member">Mr. Albin Reynolds Reid</td>
          <td class="appointedBy">Mayor Pro Tem Baker (District 7)</td>
          <td class="appointment-date">July 11, 2017 to December 31,</td>
        </tr>
    </table>
  </div>
  <h6 class="meetings">Meetings</h6>
  <div class="footer-content">
    <p>6:30 p.m.</p>
    <p>Third Tuesday of each month</p>
    <p>South Fulton Service Center</p>
    <p>5600 Stonewall Tell Road South Fulton, GA 30349</p>
  </div>
</div>
