.details-wrapper {
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
  color: #000000;

  .date {
    padding: 0 20px;
    margin: 25px 0 0;
  }

  .title {
    padding: 0 20px;
    font-size: 30px;
  }

  .content {
    padding: 0 20px;
    text-align: justify;
  }

  .link {
    padding: 0 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    a {
      display: inline-block;
      color: #ffffff;
      background-color: #2575AA;
      padding: 0 16px;
      font-size: 16px;
      text-decoration: none;
      border-radius: 5px;
      outline: none;
      line-height: 28px;

      &.hidden {
        opacity: 0;
        visibility: hidden;
      }

      &.feedback {
        margin-bottom: 30px;
      }

      &.more {

        svg {
          fill: #ccc;
          width: 20px;
          transform: rotate(90deg);
        }
      }
    }
  }
}
