<ada-banner [background]="'assets/images/newsletter-signup.jpg'" [title]="" [alt]="'test alt'" [longdesc]="'test long desc'"></ada-banner>
<div class="newsletter-signup-wrapper">
  <div class="newsletter-signup-form">
    <div class="adaimage">
      <ada-image [src]="'assets/images/newsletter-signup.png'" [alt]="'test alt'" [longdesc]="'test long description'" [fit]="'contain'"></ada-image>
    </div>
    <p class="signup-title">Newsletter Signup</p>
    <p class="signup-description">Stay up to date with our latest news and updates</p>
    <div class="email-form">
      <!-- <input type="text" class="email-address" placeholder="Your email address" name="email-address"/> -->
      <button class="button subscribe-button" type="submit">Subscribe</button>
    </div>
  </div>
</div>
