.newsletter-signup-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  .newsletter-signup-form {
    align-items: center;
    justify-items: center;
    .adaimage {
      width: 8%;
      margin: 120px auto 10px;
      @media only screen and (max-width: 520px) {
        width: 12% !important;
        margin: 30px auto 10px;
      }
    }
    .signup-title {
      width: max-content;
      color: white;
      font-size: 60px;
      margin: 0 auto;
      @media only screen and (max-width: 520px) {
        width: 100%;
        text-align: center;
        font-size: 32px;
      }
    }
    .signup-description {
      color: white;
      width: max-content;
      font-size: 28px;
      margin: 10px auto 0;
      @media only screen and (max-width: 520px) {
        width: 100%;
        text-align: center;
        font-size: 18px;
      }
    }
    .email-form {
      max-width: 200px;
      line-height: 30px;
      margin: 48px auto;
      align-items: center;
      .subscribe-button {
        width: 100%;
        height: 60px;
        font-size: 28px;
        text-align: center;
        color: white;
        background-color: rgb(127, 216, 38);
        border: 0;
        border-radius: 14px;
        margin: 0 auto;
        outline: none;
        @media only screen and (max-width: 1024px) {
          height: 50px;
          font-size: 24px;
        }
        @media only screen and (max-width: 980px) {
          height: 42px;
          font-size: 22px;
        }
        @media only screen and (max-width: 520px) {
          width: 100%;
          height: 36px;
          font-size: 22px;
          border-radius: 8px;
        }
      }
      @media only screen and (max-width: 520px) {
        max-width: 150px;
      }
    }
  }
}
