.places-wrapper {
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 70px;

  @media only screen and (max-width: 520px) {
    padding-left: 20px;
  }
  
  place-card {
    // padding: 8px;
    width: 46%;

    &.show {
      display: inline-block;
       border: 1.1px solid #B9B9B9;
       box-sizing: border-box;
       border-radius: 5px;
       margin-right: 30px;
       margin-bottom: 30px;
      @media only screen and (max-width: 800px) {
        // display: block;
        margin-right: 30px;
      }
      @media only screen and (max-width: 700px) {
        // display: block;
        margin-right: 20px;
        margin-bottom: 20px;
      }
      @media only screen and (max-width: 425px) {
        display: block;
      }
    }
    &.hidden {
      display: none;
    }
    @media only screen and (max-width: 850px) {
      width: 45%;
    }
    @media only screen and (max-width: 800px) {
      width: 45%;
    }
    @media only screen and (max-width: 425px) {
      width: 100%;
    }
  }

  
  app-search {
    display: block;
    margin: 0 64px 30px 0;
    @media only screen and (max-width: 1100px) {
      margin: 0 52px 30px 0;
    }
    @media only screen and (max-width: 1024px) {
      margin: 0 42px 30px 0;
    }
    @media only screen and (max-width: 800px) {
      margin: 0 5.6% 30px 0;
    }
    @media only screen and (max-width: 425px) {
      margin: 0 0 30px 0;
    }
  }
}