<ada-banner [background]="'assets/images/popular-page-image.jpg'" [title]="'Popular Links'" [alt]="'test alt'" [longdesc]="'test long desc'" [style]="'center'"></ada-banner>
<div class="links-wrapper">
  <p class="header"><ada-image [src]="'assets/images/popular-black.png'" [alt]="'test alt'" [longdesc]="'test long description'" [fit]="'contain'"></ada-image>Most Visited Links</p>
  <p class="item">Pay - Trash Service Payments</p>
  <p class="item">News - Momorial Day Ceremonies On Track</p>
  <p class="item">Pay - Trash Service Payments</p>
  <p class="item">News - Momorial Day Ceremonies On Track</p>
</div>