.news-wrapper {
  padding-bottom: 0;
  position: relative;
  
  .news-bar {
    background-color: #e1e1e1;
    text-align: center;
    line-height: 25px;
    font-weight: 900;
  }

  .sidebar-news-carousel {
    margin-bottom: 0;

    .slide-news {
      outline: none;
      padding-bottom: 35px;
      
      ada-image {
        display: block;
      }

      .news-content {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        /* autoprefixer: ignore next */
        -webkit-box-orient: vertical;
        height: 50px;
        color: #000000;
        padding: 5px 2px;
        margin-bottom: 10px;
      }
    }
  }

  .buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 25px;

    a {
      border: 1px solid #000000;
      color: #000000;
      padding: 0 8px;
      font-size: 16px;
      text-decoration: none;
      border-radius: 5px;
      outline: none;
      line-height: 28px;

      &.feedback {
        margin-left: 5px;
      }
    }
  }
}
