/* You can add global styles to this file, and also import other style files */
// $ionicons-font-path: "~ionicons/dist/fonts";
// @import "~ionicons/dist/scss/ionicons.scss";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './assets/theme.scss';
@font-face {
  font-family: Calibri;
  src: url(assets/fonts/calibri.ttf) format("truetype");
}

body {
  font-family: 'Calibri', sans-serif;
  top: 0 !important;
}

.app-wrapper {
  // padding: 30px 50px;
  background-color: #ffffff;
  min-height: 100vh;
  box-sizing: border-box;

  // @media only screen and (max-width: 1200px) {
  //   padding: 15px 20px;
  // }

  @media only screen and (max-width: 900px) {
    padding: 0;
  }
}

home {
  display: block;
  hero-slider {
    width: 100%;
    display: block;
    @media only screen and (max-width: 900px) {
      width: 100%;
    }
    .menu-slider-wrapper {
      ada-image .ada-image-wrapper img {
        width: 50px !important;
      }
    }
  }
  @media only screen and (max-width: 900px) {
    display: block;
  }
  .latest-news {
    flex: 0 0 30%;
    padding: 2px;
    margin: 15px auto;
    box-sizing: border-box;
    height: 410px;
    @media only screen and (max-width: 430px) {
      flex: 0 0 90%;
    }
    &.show {
      display: inline-block;
    }
    .newscard-wrapper {
      ada-image {
        .ada-image-wrapper {
          height: 220px !important;
        }
      }
    }
  }
}

.slick-dots {
  position: relative;
  bottom: 0;

  li {
    height: 5px;
    margin: 0;

    &.slick-active {
      button {
        &:before {
          color: white;
        }
      }
    }

    button {
      height: 5px;
      line-height: 0;
      padding: 0;

      &:before {
        height: 5px;
        line-height: 0;
        color: white;
      }
    }
  }
}

.nav-carousel {
  .slick-arrow {
    // display: none !important;
    top: 7px;
    bottom: 0;
    transform: none;
    font-size: 30px;
    line-height: initial;
    width: 30px;
    height: initial;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #363636;
    // background-color: white;
    z-index: 1;
    // opacity: 0.8;

    &.slick-disabled {
      color: #777;
    }

    &:hover {
      color: #363636;
      // background-color: white;
      z-index: 1;
    }

    &:before {
      display: none;
    }

    &.slick-prev {
      left: 20px;
    }

    &.slick-next {
      right: 0;
      margin-right: -20px;
    }
  }

  .slick-list {
    padding: 0 10px;
  }

  &.slick-slider {
    &:hover {
      .slick-arrow {
        display: flex !important;
        // color: #363636;
        // background-color: white;
        z-index: 1;
        // box-shadow: inset 0px -3px 3px 1px rgba(0, 0, 0, .5), inset 0px 3px 3px 1px rgba(255, 255, 255, .5), inset 0px 15px 35px 15px rgba(0, 0, 0, .35);

        &.slick-disabled {
          color: #777;
        }
      }
    }
  }
}
.event-nav-carousel {
  .slick-arrow {
    display: none !important;
    // top: 0;
    top: 26%;
    bottom: 0;
    transform: none;
    font-size: 30px;
    line-height: initial;
    width: 50px;
    height: initial;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background: transparent;
    // background-color: white;
    z-index: 1;
    // opacity: 0.6;

    &.slick-disabled {
      color: #777;
    }

    &:hover {
      color: #FFFFFF;
      background: transparent;
      // background-color: white;
      z-index: 1;
    }

    &:before {
      display: none;
    }
    &.slick-prev,
    &.slick-next {
      height: 50px;
      width: 25px;
    }

    &.slick-prev {
      left: 10px;
    }

    &.slick-next {
      right: 10px;
    }
  }

  .slick-list {
    padding: 0;
    height: 380px;
    @media only screen and (max-width: 900px){
      height: auto;
    }
    .slick-track {
      margin-left: 0;

      .slick-active card .card-wrapper .tooltip {
        left: calc(-100% - 25px) !important;
        width: 330px;
        .tooltip-arrow {
          right: 6% !important;
        }
      }
      .slick-current card .card-wrapper .tooltip {
        left: calc(100% - 10px) !important;
        .tooltip-arrow {
          right: 100% !important;
        }
      }
    }
  }

  &.slick-slider {
    &:hover {
      .slick-arrow {
        display: flex !important;
        // color: #363636;
        // background-color: white;
        z-index: 1;
        // box-shadow: inset 0px -3px 3px 1px rgba(0, 0, 0, .5), inset 0px 3px 3px 1px rgba(255, 255, 255, .5), inset 0px 15px 35px 15px rgba(0, 0, 0, .35);

        &.slick-disabled {
          color: #777;
        }
      }
    }
  }
  &.slick-slider
  card{

    .tooltip.tooltip-light{
      top: 80% !important;
    }
    .tooltip-arrow{
      top: 30% !important;
    }
  }
}

.slick-event-carousel {
  .slick-list {
    height: 100%;

    .slick-track {
      height: 100%;
    }
  }

  &.slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  .slick-arrow {
    z-index: 1;
    font-size: 50px;
    color: #fff;

    &:before {
      display: none;
    }

    &.slick-prev,
    &.slick-next {
      height: 50px;
      width: 25px;
    }

    &.slick-prev {
      left: 10px;
    }

    &.slick-next {
      right: 10px;
    }
  }

  .slick-dots {
    position: absolute;
  }
}

.calendar-wrapper {
  .cal-month-view {
    .cal-days {
      background-color: #1e1e1e;

      mwl-calendar-open-day-events {
        display: none;
      }

      .cal-cell-row {
        &:hover {
          background-color: #1e1e1e;
        }

        .cal-cell{
          &:hover {
            background-color: #1e1e1e;
          }

          &.cal-open {
            background-color: $theme-blue;
          }

          .day-selected {
            background-color: #c4c4c4;
          }

          &.cal-day-cell {
            background-color: #ffffff;
            min-height: 80px;

            @media only screen and (max-width: 500px){
              min-height: 60px;
            }

            .cal-cell-top {
              @media only screen and (max-width: 500px){
                min-height: 0;
              }
              min-height: 50px;
            }

            &.cal-open {
              background-color: $theme-blue;
            }

            &.cal-today {
              background-color: $theme-blue;

              .cal-day-number {
                font-size: 1.2em;
                color: #ffffff;
              }
            }

            &.cal-weekend {
              .cal-day-number {
                color: #000000;
              }
            }

            &.cal-out-month {
              .cal-cell-top {
                display: none;
              }

              .cal-events {
                display: none;
              }
            }

            .cal-event {
              width: 15px;
              height: 15px;
              background-color: $theme-blue !important;
            }
          }
        }
      }
    }

    .cal-cell-row {
      &.cal-header {
        background-color: $theme-blue;
        color: #ffffff;

        .cal-cell {
          text-transform: uppercase;
        }
      }

      .cal-cell{
        &:hover {
          background-color: #fff;
          color: $theme-blue;
        }
      }
    }

    .cal-day-badge {
      display: none;
    }

    .cal-events {
      justify-content: flex-end;
      margin: 0;
    }

    .cal-day-number {
      margin: 15px 0 0 15px;
      float: left;
      color: #000000;
      opacity: 1;
      width: 100%;
      text-align: left;

      @media only screen and (max-width: 500px){
        margin-top: 5px;
      }
    }
  }
}
.council-calendar-wrapper {
  .cal-month-view {
    .cal-days {
      border-left: 2px solid !important;
      border-left-color: #a7a4a4 !important;
      border-right: 2px solid !important;
      border-right-color: #a7a4a4 !important;
      background-color: #1e1e1e;
      mwl-calendar-open-day-events {
        display: none;
      }

      .cal-cell-row {
        border-bottom: 2px solid;
        border-color: #a7a4a4 !important;
        &:hover {
          background-color: #1e1e1e;
        }

        .cal-cell{
          &:hover {
            background-color: #1e1e1e;
          }

          &.cal-open {
            background-color: #367e20;
          }

          .day-selected {
            background-color: #367e20;
          }

          &.cal-day-cell {
            background-color: #ffffff;
            min-height: 86px;
            min-width: 50px;

            @media only screen and (max-width: 500px){
              min-height: 60px;
              min-width: 35px;

            }

            .cal-cell-top {
              position: absolute;
              min-height: 30px;
              min-width: 100px;
              @media only screen and (max-width: 500px){
                min-height: 0;
              }
            }

            &.cal-open {
              background-color: #367e20;
            }

            &.cal-today {
              background-color: #0C7F40;

              .cal-day-number {
                font-size: 1.2em;
              }
            }

            &.cal-weekend {
              .cal-day-number {
                color: #000000;
              }
            }

            &.cal-out-month {
              .cal-cell-top {
                display: none;
              }

              .cal-events {
                display: none;
              }
            }

            .cal-event {
              height: 30px;
              border-radius: 0% ;
              background-color: #ffffff;
              .meeting-details {
                position: relative;
                font-size: 1.2em;
                a {
                  text-align: right;
                  color:#000000;
                  border-bottom: 1px solid #000000;
                }
                .agenda {
                  padding-left: 2px;
                  text-align: center;

                }
                @media only screen and (max-width: 1300px){
                  font-size: 0.8em;
                }
                @media only screen and (max-width: 500px){
                  font-size: 0.6em;
                }
              }
            }
          }
        }
      }
    }

    .cal-cell-row {
      &.cal-header {
        background-color: #0C7F40;
        color: #ffffff;

        .cal-cell {
          text-transform: uppercase;
          font-size: 16px;
          font-weight: normal !important;
        }
      }

      .cal-cell{
        position: relative;
        &:hover {
          background-color: #fff;
          color: #0C7F40;
        }
      }
    }

    .cal-day-badge {
      display: none;
    }

    .cal-events {
      position: absolute;
      justify-content: flex-end;
      margin: 20px 0 0 25px;
      padding: 0 3px 3px 3px;
      line-height: 20px;
      @media only screen and (max-width: 1300px){
        margin-top: 5px;
        margin: 28px 0 0 10px;
        line-height: 18px;
      }
      @media only screen and (max-width: 500px){
        margin-top: 5px;
        margin: 28px 0 0 10px;
        line-height: 12px;
      }
    }

    .cal-day-number {
      margin: 0 0 0 10px;
      float: left;
      color: #000000;
      opacity: 1;
      width: 100%;
      text-align: left;

      @media only screen and (max-width: 500px){
        margin-top: 5px;
      }
    }
  }
}
  .about-wrapper {
    .description {

      h6 {
        margin-top: -60px !important;
      }
      h1 {
        margin-bottom: -20px !important;
      }
    }
  }
  .top-staticbar {
    custom-dropdown {
      display: inline-block;
      .dropdown {
        .btn {
          width: 130px !important;
          background-color: #ffffff !important;
          border: 1px solid #000000 !important;
          box-sizing: border-box !important;
          border-radius: 5px !important;
          color: #000000;
          padding: 4px 20px;
          font-size: 12px;
        }
        .cp {
          border: 0;
          .cp-dropdown {
            width: 130px;
            border: 1px solid #000000;
            .cp-dropdown__select-option {
               padding: 1px 10px 1px 20px;
               color: #000000;
               background-color: #ffffff;
            }
          }
      }
      }
    }
    .goog-te-gadget {
      height: 30px;
      color: transparent;
      span {
          display: none !important;
      }
      .goog-te-combo {
        margin: 4px 0;
        padding: 3px;
        border: 1px solid;
        border-radius: 5px;
        .language-option-hide {
          display: none;
        }
    }
    }

      .sidebar-quote-carousel {
      .slick-prev {
        left: 175px;
        top: -4px;
        width: 10px !important;
      }
      .slick-next {
        left: 200px;
        top: -4px;
        width: 10px !important;
      }
    }
  }

  .menu {
    app-search {
      .onpage {
        display: none;
      }
    }
  }
//////// Google custom search ///////////
#___gcse_0 {
  width: 24%;
  min-width: 290px;
  margin-right: 10px;
  .gsc-control-cse {
    border-color: transparent !important;
    background-color: transparent !important;
  }
}
.gsc-control-wrapper-cse .gsc-search-box-tools {
    margin-bottom: -5px;
    background-color: #ffffff;
    padding: 1px 12px;
    border: 1px solid;
    border-radius: 5px;
}
.gsc-input-box {
  border: 0;
  padding: 0 !important;
}
#gs_cb50 {
  color: #000000;
  padding-top: 4px;
  vertical-align: bottom;
}
.gsc-search-button {
  // height: 32px;
  // border-radius: 5px !important;
  .gsc-search-button-v2{
    padding: 0;
    width: auto;
  }
}
///////////////////////////////////////
.page-wrapper {
  app-search {
    .onheader {
      display: none !important;
    }
  }
}
.leader-wrapper {
  & > ada-image {
    & > .ada-image-wrapper {
       img {
        object-fit: cover !important;
       }
    }
  }
}
.council-search-wrapper {
  ngbd-datepicker-popup {
    .form-inline {
      display: inline-block;
      width: 36%;
      @media only screen and (max-width: 800px) {
        width: 50%;
      }
      @media only screen and (max-width: 520px) {
        width: 100%;
      }
    }
    .form-inline .form-group .input-group {
      width: 100%;
      .form-control {
        border-radius: 5px;
        background: transparent;
        @media only screen and (max-width: 520px) {
          padding-left: 6rem;
        }
      }
      .input-group-append {
        margin-left: 30px;
        z-index: 1;
        p {
          color: #ffffff;
          border: 0;
          background-color: $theme-blue;
          padding: 0px 40px;
          margin: auto;
          font-size: 16px;
          line-height: 30px;
          border-radius: 5px;
          font-family: Roboto;
        }
        p:hover {
          background-color: $theme-blue;
        }
      }
    }
  }
}
mat-tree {
  background-color: #a1a1a1 !important;
  color: #ffffff;
  mat-tree-node {
    color: #ffffff !important;

  }
}
.mat-radio-button{
  margin-right: 16px;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color:#A1A1A1;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  color:#A1A1A1;
  background-color:#A1A1A1 ;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:#A1A1A1 !important;
}

.cards-slider {
  @media only screen and (max-width: 1910px) {
    card:nth-child(2) .card-wrapper .tooltip {
            left: calc(-100% + -40px);
            .tooltip-arrow {
              right: 6%;
            }
          }
  }
  @media only screen and (max-width: 1430px) {
    card:nth-child(1) .card-wrapper .tooltip {
            left: calc(-100% + -40px);
            .tooltip-arrow {
              right: 6%;
            }
          }
  }
}
.home-cards-slider {
  @media only screen and (max-width: 1900px) {
    card:nth-child(4) {
      .card-wrapper {
        .tooltip {
          &.tooltip-light {
            left: calc(-100% + -126px);
            .tooltip-arrow {
              right: 6%;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 1700px) {
    card:nth-child(3) {
      .card-wrapper {
        .tooltip {
          &.tooltip-light {
            left: calc(-100% + -126px);
            .tooltip-arrow {
              right: 6%;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 1140px) {
    card:nth-child(2) {
      .card-wrapper {
        .tooltip {
          &.tooltip-light {
            left: calc(-100% + -126px);
            .tooltip-arrow {
              right: 6%;
            }
          }
        }
      }
    }
  }
}
.custom-pages-wrapper {
  p {
    margin-bottom: 0;
  }
}
.custom-page-video {
  iframe {
    @media only screen and (max-width: 769px) {
      height: 500px !important;
    }
    @media only screen and (max-width: 520px) {
      height: 350px !important;
    }
    @media only screen and (max-width: 425px) {
      height: 270px !important;
    }
  }
}

.goog-te-banner-frame {
  display: none;
}

// google translate tooltip hidden
#goog-gt-tt {
  height: 0 !important;
  width: 0 !important;
  visibility: hidden !important;
  display: none !important;
  div {
    display: none !important;
    visibility: hidden !important;
   }
  }
.goog-tooltip {
  height: 0 !important;
  width: 0 !important;
  visibility: hidden !important;
  display: none !important;
  div {
    display: none !important;
    visibility: hidden !important;
    }
}
.goog-text-highlight {
  background-color: transparent !important;
  -webkit-box-shadow: unset !important;
  -moz-box-shadow: unset !important;
  box-shadow: unset !important;
  box-sizing: unset !important;
  -webkit-box-sizing: unset !important;
  -moz-box-sizing: unset !important;
}

// ais autocomplete dropdow menu
.cdk-overlay-container {
  z-index: 99999;
  .highlight em, .highlight small {
    background-color: yellow;
  }
}


// style tooltip panel for ais results
.tooltipMultipleLine {
  white-space: pre-line;
}

.reports-wrapper {
  .category-wrapper {
    .popular_buttons {
      .ada-image-wrapper {
        width: 60px !important;
        height: 48px !important;
         margin: 0 auto !important;
         @media only screen and (max-width: 800px) {
          width: 36px !important;
          height: 36px !important;
        }
         @media only screen and (max-width: 520px) {
          width: 48px !important;
          height: 48px !important;
        }
      }
    }
  }
}
.job-images {
  .img-slider {
      .slider-content {
          .slick-job-carousel {
            .slick-list {
              height: 100%;
              .slick-track {
                height: 100%;
              }
              .slick-track .slide-job {
                height: 100%;
                max-height: 250px;
                border-radius: 5px;
                @media only screen and (max-width: 1200px) {
                  max-height: 220px;
                }
                @media only screen and (max-width: 1000px) {
                  max-height: 190px;
                }
                @media only screen and (max-width: 800px) {
                  max-height: 160px;
                }
                @media only screen and (max-width: 500px) {
                  max-height: 250px;
                }

                img {
                  border-radius: 5px;
                }
              }
            }
            .slick-dots {
              bottom: 22%;
              @media only screen and (max-width: 1200px) {
                bottom: 30%;
              }
              @media only screen and (max-width: 1000px) {
                bottom: 40%;
              }
              @media only screen and (max-width: 800px) {
                bottom: 50%;
              }
              @media only screen and (max-width: 500px) {
                bottom: 22%;
              }
            }
          }
      }
  }
}
.quill-better-table td {
  border: 1px solid #000000;
}

// style for city-council slider
.council-carousel {
  .ada-image-wrapper img {
    border-radius: 50%;
  }
}

.department-content-wrapper .description p {
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
} 

.ngb-dp-content.ngb-dp-months {
  @media only screen and (max-width: 520px) {
    display: block;
    .ngb-dp-day {
      height: 2.2rem;
      width: 3rem;
    }
  }
}
