.search-wrapper {
  display: flex;
  width: 100%;
  min-width: 280px;
  border-radius: 5px;
  border: 1px solid #000000;
  background: #ffffff;
  padding: 0 15px;
  align-items: center;
  color: #000000;

  @media only screen and (max-width: 320px) {
    width: 280px;
  }

  input {
    line-height: 32px;
    width: 100%;
    text-align: left;
    background: transparent;
    border: none;
    margin: 0;
    outline: none;
    color: #000000;
    // padding: 0 10px;
    font-size: 12px;

    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:    #000000;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color:    #000000;
      opacity:  1;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    #000000;
      opacity:  1;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color:    #000000;
    }
    &::-ms-input-placeholder { /* Microsoft Edge */
      color:    #000000;
    }

    &::placeholder { /* Most modern browsers support this now. */
      color:    #000000;
    }
  }

  i{
    line-height: 0;
    font-size: 20px;

    svg {
      fill: white;
    }
  }
}